<section>
  <h2>Create New Post</h2>

  <form class="new-post-form">
    <div>
      <label for="post-title">Title</label>
      <input type="text" id="post-title" name="post-title" />
    </div>
    <div>
      <label for="post-contents">Contents</label>
      <input id="post-contents" name="post-contents" />
    </div>
    <button type="submit" class="btn">Create</button>
  </form>
</section>

{{#if posts.length}}
<section>
  <h2>Your Posts</h2>
  <ol>
  {{#each posts}}
    <li>
      <div class="title">
        {{title}}
      </div>
      <div class="contents">
        {{contents}}
      </div>
      <div class="created_at">
        {{created_at}}
      </div>
    </li>
  {{/each}}
  </ol>
</section>
{{/if}}

<script src="/javascript/add-post.js"></script>